<mat-card >
    <h1>Edit Customer Form</h1>
    <form #editForm = "ngForm" (ngSubmit)="editCustomer()" >
        <div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput 
                    [(ngModel)]= "name"
                    name = "name"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Years</mat-label>
                    <input matInput 
                    [(ngModel)]= "years"
                    name = "years"
                    required>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Salary</mat-label>
                    <input matInput 
                    [(ngModel)]= "salary"
                    name = "salary"
                    required>
                </mat-form-field>
            </div>

            <div>
             <button mat-raised-button type="submit" color="primary" >Save Changes</button>
             <button mat-raised-button (click)="closeForm()">Cancel</button>
            </div>
        </div>
    </form>
    
</mat-card> 