<div class="form-container">
<h1 mat-dialog-title>Create Customer Form</h1>
    <mat-card >
        <form #customerForm = "ngForm" (ngSubmit)="onSubmit()" >
            <div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter your name"
                        [(ngModel)]= name
                        name = name
                        required>
                    </mat-form-field>
    
                </div>

                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Years of education</mat-label>
                        <input matInput  placeholder="Enter your years of education (0-24)"
                        [(ngModel)]= years
                        name = years
                        type="number"
                        (keydown)="clearError()"
                        (change)="clearError()"
                        required >
                    </mat-form-field>
                </div>
           <div style="color:red;padding-top:10px" *ngIf="!!overYearError">{{overYearError}}</div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Salary</mat-label>
                        <input matInput placeholder="Enter your salary"
                        [(ngModel)]= salary
                        name = salary
                        required
                        type="number"
                        >
                    </mat-form-field>
                </div>
                <div>
                 <button [disabled] ="!customerForm.form.valid" type = "submit" mat-raised-button color="accent">Create</button>
                </div>
            </div>
        </form>
    </mat-card> 
</div>