<!-- <div></div> -->
<div class="customer-list-container">
    <div class="header-container">
        <div>
            <h1 class="header-text">Customer List</h1>
        </div>
        <div>
            <button mat-raised-button (click)="onCreateClicked()" color="accent">Add New Customer</button>
        </div>
    </div>
    <div class="list-container">
        <mat-accordion *ngIf = "(authService.getUser()|async)">
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"
                                 *ngFor="let customer of customers; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                        {{customer.name}}
                </mat-panel-title>
                
              </mat-expansion-panel-header>
            <div class="title-wrapper">
                <div>
                    <p>Years of eduction: {{customer.years}}</p>
                    <p>Salary: {{customer.salary}}</p>
                    <p *ngIf="!!customer.predict">predict: {{customer.predict}}</p>
                    <p [style.color]="predict > 0.5 ? 'green':'red'" *ngIf="predictState[i]">loan return: {{predict * 100}}% - {{predict > 0.5 ? 'Return' : 'Not Return'}}</p>
                </div>
                <div class="actions">
                    <div class="buttons-continer">
                        <button mat-raised-button (click)="deleteCustomer(customer.uid)" color="warn">Delete</button>
                        <button mat-raised-button (click)="editstate[i]=!editstate[i]" color="primary">Edit</button>
                        <button mat-raised-button (click)="customerPredict(customer.years,customer.salary);predictState[i] =! predictState[i]" color="accent">Predict</button>
                        <button mat-raised-button [disabled]="!predictState[i]" (click)="updatePredict(customer.uid,predict)" color="accent">Save Predict</button>

                    </div>
                    <div class="edit-form-container">
                        <editcustomer
                        [hidden] = "!editstate[i]"
                        [name] ="customer.name"
                        [years]= "customer.years"
                        [salary] = "customer.salary"
                        [id] = "customer.uid"
                        (updateCustomer) = "updateCustomer($event); editstate[i] = !editstate[i]; predictState[i] = !predictState[i]"
                        (closeEdit) = "editstate[i] = !editstate[i];"
                        >
                        </editcustomer>
                    </div>
                </div>
            </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>