.customer-list-container{
    height: 100%;
    width: 90%;
    padding: 30px;
    overflow: hidden;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text{
    margin: 0;
}
.list-container{
    padding-top: 35px;
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

mat-panel-description{
    width: 400px;
}

mat-panel-title{
    
    width: 400px;
}
.title-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.buttons-continer{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.actions{
    display:flex;
    flex-direction:column;
}
.edit-form-container{
    display: flex;
    justify-content: center;
    padding-top:10px;
}